<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block css%}<link rel="stylesheet" href="css/site.css">{%endblock%}
    {%block title%}
    <title>Rahul Writes Propaganda &middot; r19a</title>
    {%endblock%}
</head>

<body>
    <div id="headerbar">
        <a id="kerb" href="http://theslytherin.gitlab.io/c17e">Calculus & Chlorine</a>
        <div id="navbar">
            <a href="https://theslytherin.gitlab.io" class="navbutton" id="aboutButton">about</a>
            <a href="https://theslytherin.gitlab.io/projects" class="navbutton" id="aboutButton">projects</a>
            <a href="https://theslytherin.gitlab.io/r19a" class="navbutton current" id="blogButton">blog</a>
            <a href="http://theslytherin.gitlab.io/r19a/rss.xml" class="navbutton" id="blogButton"> RSS </a>
        </div>
    </div>
    <hr>
    {%block content%}
    {%endblock%}


    {%block contact%}
    <div id="footer">
        <a href="https://gitlab.com/theslytherin" target="_blank">
          <img class="symbol" src="https://theslytherin.gitlab.io/assets/github.png" alt="theslytherin on gitlab">
        </a>

        <a href="http://www.keybase.io/theslytherin" target="_blank">
          <img class="symbol" src="https://theslytherin.gitlab.io/assets/keyb.png" alt="(C) keybase">
        </a>

        <a href="http://theslytherin.gitlab.io/c17e"  target="_blank">
                    <img class="symbol" src="https://theslytherin.gitlab.io/assets/globe.png" alt = "Calculus and Chlorine">
        </a>
        <a href="mailto:theslytherin@yandex.com" target="_blank">
            <img class="symbol" src="https://theslytherin.gitlab.io/assets/gmail.svg" alt="(C) keybase">
          </a>
    </div>
    {%endblock%}
    <br>
    <hr>
    <div style="font-family: 'Courier New', Courier, monospace; color: blue;">
        Made with 💖 using <a href="https://theslytherin.gitlab.io/c17e/posts/vadim-blyat.html"> Vadim </a>
    </div>
  </body>
  </html>
